* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	main.main-wrapper {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;

		header.main-header {
			display: flex;
			justify-content: center;

			h1 {
				font-size: 3rem;
				font-weight: normal;
				margin: 1rem;
			}
		}

		form.setup-form {
			width: 75%;
			margin: 1.5rem auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas: 
			'playerX playerO'
			'button button';
			align-items: center;
			justify-items: center;

			.startGame-btn {
				font-size: 1.2rem;
				margin: 1.5rem;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 0.3rem;
				grid-area: button;
				background-color: rgb(95, 116, 199);
				color: white;
			}

			div.player-inputs {
				width: 50%;
				height: 160px;

				h2 {
					width: 100%;
					font-size: 2rem;
					font-weight: normal;
					margin: 1rem 0;
				}

				div.player-type-container {
					display: flex;
					margin: 1rem 0;

					div.player-type {
						display: flex;
						align-items: center;
						padding-right: 2rem;

						input {
							margin-right: 0.3rem;
						}

						label {
							font-size: 1.4rem;
						}
					}
				}

				div.name-input-container {
					display: flex;
					align-items: center;
					gap: 1rem;

					label {
						font-size: 1.5rem;
					}
	
					input {
						font-size: 1.3rem;
						padding: 0.5rem;
					}
				}

				// div.name-input-container.show {
				// 	display: flex;
				// }

			}

			div.player-X {
				grid-area: playerX;
			}
			
			div.player-O {
				grid-area: playerO;
			}
			


		}

		form.setup-form.hide {
			display: none;
		}

		section.game-container {
			width: 75%;
			height: 90%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			grid-template-rows: 450px 100px 100px;
			grid-template-areas:
				'playerX board playerO'
				'display display display'
				'buttons buttons buttons';

			

			div.player-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 3rem;

				p.player-label {
					font-size: 1.75rem;
				}

				p.win-count {
					font-size: 1.25rem;
				}
			}

			div.playerX-container {
				grid-area: playerX;
			}

			div.playerO-container {
				grid-area: playerO;
			}

			div.gameboard,
			div.overlay {
				grid-area: board;
				width: 100%;
				aspect-ratio: 6 / 5;
			}

			div.gameboard {
				width: 100%;
				height: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);

				.cell {
					display: grid;
					place-content: center;
					font-size: 4rem;
					border: 1px solid black;

					&:hover {
						background-color: rgba(0, 102, 255, 0.098);
					}
				}
			}

			div.overlay {
				position: relative;
				z-index: -1;

				.rows,
				.columns,
				.diagonals {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					background-color: rgba(0, 0, 0, 0);
				}

				.rows {
					flex-direction: column;

					.row {
						width: 90%;
						height: 4px;
					}
				}

				.columns {
					flex-direction: row;

					.column {
						width: 4px;
						height: 90%;
					}
				}

				.diagonals {
					flex-direction: row;
					position: relative;

					.diagonal {
						width: 115%;
						height: 4px;
						position: absolute;
					}

					.leftRightDiagonal {
						transform: rotateZ(41deg);
					}

					.rightleftDiagonal {
						transform: rotateZ(-41deg);
					}
				}

				.show {
					background-color: black;
				}
			}

			div.message-display {
				grid-area: display;
				// width: 50%;
				margin: 0 auto;
				padding: 2rem;

				p.message {
					font-size: 2.5rem;
					text-align: center;
				}
			}

			div.button-container {
				grid-area: buttons;
				// width: 50%;
				// height: 12%;
				margin: 0 auto;
				display: flex;
				justify-content: space-around;
	
				button {
					font-size: 1.2rem;
					margin: 1.5rem;
					padding: 0.5rem 1rem;
					border: none;
					border-radius: 0.3rem;
					color: white;
				}
	
				.newGame-btn {
					background-color: rgb(95, 199, 95);
				}
	
				.rematch-btn {
					background-color: rgb(199, 95, 95);
				}
	
				button.hide {
					display: none;
				}
			}
		}

		section.game-container.hide {
			display: none;
		}
	}
}
